/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-acf-display {
	background-color: #000;
	color: #fff;
	padding: 2px;
}

.acf-display {
	// @import "fomantic-ui-sass/dist/semantic.css";


$theme-folder: 'fomantic-scss-custom' !default;
$image-path: "#{$theme-folder}/assets/images" !default;
$font-path: "#{$theme-folder}/assets/fonts" !default;

// Generally, we import our custom theme first, then apply any unset variables
// from the default theme over them (variables in the default theme are defined
// with CSS `!default` so they are only used if they aren't already set.
//
// Sometimes, though, we want to use a variable from the default theme in our
// custom rules, in which case we need to either set it or pull in the file here
// before we can use them in our custom theme.
@import '../node_modules/fomantic-ui-sass/src/utils/all';
@import '../node_modules/fomantic-ui-sass/src/themes/default/globals/fonts/all';
@import '../node_modules/fomantic-ui-sass/src/themes/default/globals/colors/all';

// Then, we load up the whole shebang...
@import 'fomantic-custom-theme/custom';                                 // custom theme variables
@import '../node_modules/fomantic-ui-sass/src/variables';     // default theme variables
@import '../node_modules/fomantic-ui-sass/src/semantic.scss'; // Semantic-UI SCSS

}